* {
    box-sizing: border-box;

}
body, html {
    height: 100%;
    margin: 2em;
    background-image: url("/img/balloons.gif");

}

#invite{
    background-position: center;
    background-size: contain;
    background-image: url("/img/invite.jpeg");
    min-height: 50%;
    border-style: solid;
}
.header{
    border-style: solid;

}

.h1 {
    margin: auto;
    width: 50%;
    border: 8px solid green;
    padding: 3em;
}