html {
    background-image: url("../img/fiesta1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    h1 {
    color: deeppink;
    text-decoration: underline;
    }

    h2 {
    color: yellow;
    text-decoration: underline;
    }

    h3 {
    color: floralwhite;
    text-decoration: underline;
    }

.fancy-header {
    color: floralwhite;
    text-align: center;
}

.main-header {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

ol, li{
    list-style: lower-roman;
    background-color: antiquewhite;
}

ul, li {
    list-style: circle;
    background-color: antiquewhite;
    margin: 10px auto;

}

body {
    text-decoration-color: floralwhite;
    border: 1px solid green;
}

table, th, td {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid darkorchid;
    background-color: antiquewhite;
    border: 1px solid black;
}

img {
    border: 3px solid mistyrose;
}

a:link {
    color: green;
}

a:visited {
    color: orange;
}

a:hover {
    color: pink;
}

footer {
    text-decoration-color: mediumturquoise;
}

